<!doctype html>
<html>
<head>
  <% include ../head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<%if(type==0) {%>
<% include slide.html%>
<% }%>
<%if(type==1) {%>
<% include slide_teacher.html%>
<% }%>
<%if(type==2) {%>
<% include slide_manager.html%>
<% }%>
<!--侧边框结束-->
<script type="text/javascript">
  function setActive(){
    var active=document.getElementById('my_course');
    active.className='active';
  }
  setActive();
</script>
<!-- 主要内容 -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title"><i class="icon-calendar"></i>个人课表</h3>
          <h5>查看你的课表</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- 个人课表 -->
  <div class="span10">
    <div class="box">
      <div class="box-header">
        <span class="title">我的课表</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue"><%= course_data.length %></span></li>
        </ul>
      </div>
      <div class="box-content scrollable" style="height: 500px; overflow-y:auto">
        <!-- 选择显示模式 -->
        <div class="box-content padded">
          <div class="btn-group">
            <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
              <span id="layout">列表显示</span>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:show_list()">列表显示</a></li>
              <li><a href="javascript:show_table()">表格显示</a></li>
            </ul>
          </div>
          <span>&nbsp;&nbsp;查看</span>
          <div class="btn-group">
            <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
              <span id="year"><%= this_year-1 %> ~ <%= this_year%></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% for(var year=start_year; year<this_year; year++){%>
                <li><a href="javascript:show_year(<%= year%>)"> <%= year%> ~ <%= parseInt(year)+1 %></a></li>
              <%}%>
            </ul>
          </div>
          <span>学年&nbsp;&nbsp;</span>
          <div class="btn-group" id="btn_list">
            <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
              <% if(this_semester=="春"||this_semester=="夏") {%>
              <span id="sem">春夏</span>
              <%}%>
              <% if(this_semester=="秋"||this_semester=="冬") {%>
              <span id="sem">秋冬</span>
              <%}%>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:show_sem(1)">秋冬</a></li>
              <li><a href="javascript:show_sem(2)">春夏</a></li>
            </ul>
          </div>
          <div class="btn-group" style="position:relative;" id="btn_table" hidden="">
            <button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
              <span id="sem2"> <%= this_semester%> </span>
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:show_sem2(1)">秋</a></li>
              <li><a href="javascript:show_sem2(2)">冬</a></li>
              <li><a href="javascript:show_sem2(3)">春</a></li>
              <li><a href="javascript:show_sem2(4)">夏</a></li>
            </ul>
          </div>
           <span>学期&nbsp;&nbsp;</span>
        </div>
        <!-- 显示列表状态课表 -->
        <div class="box-content padded" style="text-align:center;" id="list_layout">
          <table width="100%" class="table table-normal">
          <thead>
            <tr>
              <td style="width:15%">课程编号</td>
              <td style="width:25%">课程名称</td>
              <td style="width:10%">教师姓名</td>
              <td style="width:%10">学期</td>
              <td style="width:15%">上课时间</td>
              <td style="width:10%">上课校区</td>   
              <%if(type==1) {%>
              <td style="width:8%">上课地点</td>
              <td style="width:7%">名单</td>
              <% }%>
              <%if(type!=1) {%>
              <td style="width:10%">上课地点</td>
              <% }%> 
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<course_data.length;i++) {%>

            <tr>
              <td><%= course_data[i].ID %></td>
              <td><a href='/select/course/<%= course_data[i].ID %>' target="view_window"><%= course_data[i].name %></a></td>
              <td><%= course_data[i].teacher %></td>
              <td><%= course_data[i].semaster %></td>
              <td><%= course_data[i].time %></td>
              <td><%= course_data[i].campus %></td>
              <td><%= course_data[i].room %></td>
              <%if(type==1) {%>
              <td>
                <a href="/select/course_list/<%=course_data[i].course_id%>" target="view_window" style="color:blue;">查看</a>
              </td>
              <% }%>
            </tr>
            <% }%>
          </tbody>  
          </table>
        </div>
      </div>
      <!-- 显示表格状课表 -->
      <div class="box-content padded" style="text-align:center; top:-440px; position:relative;" id="table_layout" hidden="">
          <table width="100%" class="table table-normal">
          <thead>
            <tr>
              <td style="width:9%">&nbsp;</td>
              <td style="width:13%">周一</td>
              <td style="width:13%">周二</td>
              <td style="width:13%">周三</td>
              <td style="width:13%">周四</td>
              <td style="width:13%">周五</td>
              <td style="width:13%">周六</td>   
              <td style="width:13%">周日</td>
            </tr>
          </thead>
          <tbody>
            <tr height="100px">
              <td>第1、2节</br>8:30~9:35</td>
              <td id="Mon12">&nbsp;</td>
              <td id="Tue12">&nbsp;</td>
              <td id="Web12">&nbsp;</td>
              <td id="Thu12">&nbsp;</td>
              <td id="Fri12">&nbsp;</td>
              <td id="Sat12">&nbsp;</td>   
              <td id="Sun12">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>第3、4节</br>9:50~11:25</td>
              <td id="Mon34">&nbsp;</td>
              <td id="Tue34">&nbsp;</td>
              <td id="Web34">&nbsp;</td>
              <td id="Thu34">&nbsp;</td>
              <td id="Fri34">&nbsp;</td>
              <td id="Sat34">&nbsp;</td>   
              <td id="Sun34">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>第5节</br>11:30~12:15</td>
              <td id="Mon5">&nbsp;</td>
              <td id="Tue5">&nbsp;</td>
              <td id="Web5">&nbsp;</td>
              <td id="Thu5">&nbsp;</td>
              <td id="Fri5">&nbsp;</td>
              <td id="Sat5">&nbsp;</td>   
              <td id="Sun5">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>第6节</br>13:15~14:00</td>
              <td id="Mon6">&nbsp;</td>
              <td id="Tue6">&nbsp;</td>
              <td id="Web6">&nbsp;</td>
              <td id="Thu6">&nbsp;</td>
              <td id="Fri6">&nbsp;</td>
              <td id="Sat6">&nbsp;</td>   
              <td id="Sun6">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>第7、8节</br>14:05~15:40</td>
              <td id="Mon78">&nbsp;</td>
              <td id="Tue78">&nbsp;</td>
              <td id="Web78">&nbsp;</td>
              <td id="Thu78">&nbsp;</td>
              <td id="Fri78">&nbsp;</td>
              <td id="Sat78">&nbsp;</td>   
              <td id="Sun78">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>第9、10节</br>15:55~17:30</td>
              <td id="Mon910">&nbsp;</td>
              <td id="Tue910">&nbsp;</td>
              <td id="Web910">&nbsp;</td>
              <td id="Thu910">&nbsp;</td>
              <td id="Fri910">&nbsp;</td>
              <td id="Sat910">&nbsp;</td>   
              <td id="Sun910">&nbsp;</td>
            </tr>
            <tr height="100px">
              <td>晚上</br>18:30~21:30</td>
              <td id="Mon_night">&nbsp;</td>
              <td id="Tue_night">&nbsp;</td>
              <td id="Web_night">&nbsp;</td>
              <td id="Thu_night">&nbsp;</td>
              <td id="Fri_night">&nbsp;</td>
              <td id="Sat_night">&nbsp;</td>   
              <td id="Sun_night">&nbsp;</td>
            </tr>
          </tbody>  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 主要内容的js -->
<script type="text/javascript">
  function error_detection(){
  <%if(error!=""){%>
    alert("<%=error%>");  
    <%}%>
  }
  error_detection();

  function show_table_content(){
    //预先处理文件，隐藏btn_table
    $("#btn_table").hide();
    //处理字符串 找到相应位置 添加课程
    <% for(var i=0; i<course_data.length;i++) { %>
      var time="<%=course_data[i].time%>";
      var time_arr=time.split(/[-;]/);
      var course_name="<%=course_data[i].name%>";
      var course_teacher="<%=course_data[i].teacher%>";
      var course_room="<%=course_data[i].room%>";
      var data='<a href=\'/select/course/<%= course_data[i].ID %>\' target="view_window">'+course_name+'</a>'+'</br>'+course_teacher+'</br>'+course_room;
      console.log(data);
      console.log(time);
      for(var j=0;j<time_arr.length;j=j+2){
        var str;
        switch(time_arr[j]){
          case "1": str="Mon";break; 
          case "2": str="Tue";break;
          case "3": str="Web";break; 
          case "4": str="Thu";break; 
          case "5": str="Fri";break; 
          case "6": str="Sat";break; 
          case "7": str="Sun";break;
        }
        switch(time_arr[j+1]){
          case "1":
          case "2":
          case "12":
            document.getElementById(str+'12').innerHTML=data;
            break;
          case "3":
          case "4":
          case "34":
            document.getElementById(str+'34').innerHTML=data;
            break;
          case "5":
          case "345":
            document.getElementById(str+'34').innerHTML=data;
            document.getElementById(str+'5').innerHTML=data;
            break;
          case "6":
          case "7":
          case "67":
            document.getElementById(str+'67').innerHTML=data;
            break;
          case "8":
          case "678":
            document.getElementById(str+'67').innerHTML=data;
            document.getElementById(str+'8').innerHTML=data;
            break;
          case "9":
          case "10":
          case "910":
            document.getElementById(str+'910').innerHTML=data;
            break;
          case "night":
            document.getElementById(str+'_night').innerHTML=data;
            break;
        }
        console.log(str);
      }
    <% } %>
  }
  function show_list(){
    document.getElementById('layout').innerHTML="列表显示";
    $("#list_layout").fadeIn();
    $("#table_layout").fadeOut();
    $("#btn_list").show();
    $("#btn_table").hide();
  }
  function show_table(){
    document.getElementById('layout').innerHTML="表格显示";
    $("#list_layout").fadeOut();
    $("#table_layout").fadeIn();
    $("#btn_list").hide();
    $("#btn_table").show();

  }
  function show_year(year){
    document.getElementById('year').innerHTML=year+' ~ '+(year+1);
    //获取所需传输数据
    var data_year=year;
    var data_sem;
    if(document.getElementById('layout').innerHTML=="列表显示")
      data_sem=document.getElementById('sem').innerHTML;
    else data_sem=document.getElementById('sem2').innerHTML;
    //页面跳转
    window.location.href='/select/my_course/'+data_year+'_'+data_sem;
  }
  function show_sem(choice){
    if(choice==1)
      document.getElementById('sem').innerHTML="秋冬";
    else
      document.getElementById('sem').innerHTML="春夏";
    //获取所需传输数据
    var data_year=document.getElementById('year').innerHTML.split(" ")[0];
    var data_sem=document.getElementById('sem').innerHTML;
    //页面跳转
    window.location.href='/select/my_course/'+data_year+'_'+data_sem;
  }
  function show_sem2(choice){
    switch(choice){
      case 1:document.getElementById('sem2').innerHTML="秋";break;
      case 2:document.getElementById('sem2').innerHTML="冬";break;
      case 3:document.getElementById('sem2').innerHTML="春";break;
      case 4:document.getElementById('sem2').innerHTML="夏";break;
    }
    //获取所需传输数据
    var data_year=document.getElementById('year').innerHTML.split(' ')[0];
    var data_sem=document.getElementById('sem2').innerHTML;
    //页面跳转
    window.location.href='/select/my_course/'+data_year+'_'+data_sem;
  }
  show_table_content();
</script>
</body>
</html>