<!doctype html>
<html>
<head>
    <% include ../head.html %>
</head>
<body>
<!-- 上方选择条 navbar-top-->
<% include ../navbar.html %>
<!-- 侧边框 -->
<% include slide_info.html%>
<script type="text/javascript">
    function setNavActive(){
        var active=document.getElementById('infomanage');
        active.className='active';
    }

    function setSlideActive(){
        var slide = document.getElementById('personselect');
        slide.className='active';
    }

    setNavActive();
    setSlideActive();
</script>

<!-- 主要内容 -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title"><i class="icon-search"></i>查询用户</h3>
                    <h5>获得用户信息</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- 信息填写 -->
    <div class="span12" style="width:900px">
        <div class="box">
            <div class="box-header">
                <span class="title">学工号填写</span>
            </div>
            <form name="input" action="/info/personselect" method="post">
                <div class="box-content padded">
                    <div class="row-fluid">
                        <div class="span9">
                            <!-- 条件选框 -->
                            <ul>
                                <li class="input">
                                    <label>学工号</label>
                                    <input type="text" style="width:215px" placeholder="e.g. 123456" name="userid">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" style="margin-left:26px" class="btn btn-blue">查询</button>
                </div>
        </div>
        </form>
    </div>

    <!-- 搜索结果 -->
    <div class="span10" style="width:900px">
        <!--style>.box li{list-style:none;}</style-->
        <div class="box">
            <div class="box-header">
                <span class="title">搜索结果</span>
            </div>

            <form  action="/personselect" role="form" method="post"  >
    	        <% if(person_data.length!=0) { %>
                <!--% for(var i=0; i<person_data.length;i++) if(i==0){ %-->
                <ul>
                    <li class="input" style="margin-top:40px;margin-left:360px">
                        <img style="height:240px;width:240px" src=<%= person_data.photo %> class="menu-avatar">
                    </li>
                </ul>

                <ul>
                    <li class="input" style="margin-top:40px;margin-left:360px">
                        <label>年龄</label>
                        <input type="text"  readonly="readonly" name="age" style="width:215px;border:none;margin-left:10px" value=<%= person_data.age %>>
                    </li>
                </ul>

                <ul>
                    <li class="input" style="margin-left:360px">
                        <label>电话</label>
                        <input type="text" readonly="readonly" name="tel" style="width:215px;border:none;margin-left:10px" value=<%= person_data.tel %>>
                    </li>
                </ul>
                <ul>
                    <li class="input" style="margin-left:360px">
                        <label>邮箱</label>
                        <input type="text" readonly="readonly" name="email" style="width:215px;border:none;margin-left:10px" value=<%= person_data.email %>>
                    </li>
                </ul>
                <ul>
                    <li class="input" style="margin-top:-500px;margin-left:50px">
                        <label>姓名</label>
                        <input type="text" readonly="readonly" name="username" style="width:215px;border:none;margin-left:10px" value=<%= person_data.username %>>
                    </li>
                </ul>


                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>学工号</label>
                        <input type="text" readonly="readonly" name="userid" style="width:215px;border:none;margin-left:10px" value=<%= person_data.userid %>>
                    </li>
                </ul>
                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>学院</label>
                        <input type="text" readonly="readonly" name="college" style="width:215px;border:none;margin-left:10px" value=<%= person_data.college %>>
                    </li>
                </ul>
                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>身份</label>
                        <input type="text" readonly="readonly" name="status" style="width:215px;border:none;margin-left:10px" value=<%= person_data.status %>>
                    </li>
                </ul>

                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>性别</label>
                        <input type="text" readonly="readonly" name="sex" style="width:215px;border:none;margin-left:10px" value=<%= person_data.sex %>>
                    </li>
                </ul>

                

                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>专业</label>
                        <input type="text" readonly="readonly" name="major" style="width:215px;border:none;margin-left:10px" value=<%= person_data.major %>>
                    </li>
                </ul>



                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>职称</label>
                        <input type="text" readonly="readonly" name="title" style="width:215px;border:none;margin-left:10px" value=<%= person_data.title %>>
                    </li>
                </ul>
                
                <ul>
                    <li class="input" style="margin-left:50px">
                        <label>课程</label>
                        <% for(var i=0; i<person_data.cstlist.length;i++) { %>
                        <input type="text" readonly="readonly" name="title" style="width:300px;border:none;margin-left:10px" value=<%= person_data.cstlist[i] %>>
                        <% } %>
                    </li>
                </ul>
                <% } %>
                <!--% } %-->
            </form>
             <p><span><%= selectresult %></span></p>
        </div>
    </div>
</div>
</div>

</body>
</html>
